body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100vh;
  display: block;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin-top: 1700px;
}

.header {
  background-color: #3d5afe;
  color: white;
  text-align: center;
  padding: 1px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  background-color: #ccc;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
  width: 250px;
  padding: 1rem;
  margin-top: 135px;
}

.numero {
  font-size: 2rem;
}

.footer {
  text-align: center;
  background-color: #eeeeee;
  color: black;
  width: 100%;
  margin-top: 5rem;
  position: absolute;
  left: 0; 
}
